# Stripe Sandbox Secret Key
STRIPE_TEST_SECRET_KEY=sk_test_...

# EventBridge Partner EventBus Name (from Stripe Dashboard -> Event Destinations)
STRIPE_PARTNER_BUS_NAME=aws.partner/stripe.com/ed_test_...

# AWS Configuration
AWS_REGION=eu-central-1
STACK_NAME=CrossboxGymDevStack
